body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgb(255, 134, 213) 0%, rgb(230, 146, 255) 100%); /* w3c */
}

.f1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}


